Yara.Servicos.LiberacaoAutomatica/SOAP/SoapCriaOrdemVenda.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://creditocobranca/EnviaOrdemVendas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://creditocobranca/EnviaOrdemVendas"><xsd:complexType name="SoapCriaOrdemVenda"><xsd:annotation><xsd:documentation xml:lang="EN">Data Type - Cria Ordem Venda</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="ORDEM_VENDA" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="NUM_ORDEM_VENDA" type="xsd:string" minOccurs="0"/><xsd:element name="TIPO_ORDEM_VENDA" type="xsd:string" minOccurs="0"/><xsd:element name="ORGANIZACAO_VENDA" type="xsd:string" minOccurs="0"/><xsd:element name="CANAL_DISTRIBUICAO" type="xsd:string" minOccurs="0"/><xsd:element name="SETOR_ATIVIDADE" type="xsd:string" minOccurs="0"/><xsd:element name="PAGADOR" type="xsd:string" minOccurs="0"/><xsd:element name="GARANTIA" type="xsd:string" minOccurs="0"/><xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="NUM_ITEM" type="xsd:string" minOccurs="0"/><xsd:element name="CULTURA" type="xsd:string" minOccurs="0"/><xsd:element name="COND_PAGAMENTO" type="xsd:string" minOccurs="0"/><xsd:element name="PAGA_RETIRA" type="xsd:string" minOccurs="0"/><xsd:element name="NUM_DIVISAO_REMESSA" type="xsd:string" minOccurs="0"/><xsd:element name="DATA_DIVISAO_REMESSA" type="xsd:string" minOccurs="0"/><xsd:element name="BLOQUEIO" type="xsd:string" minOccurs="0"/><xsd:element name="QTDE_PENDENTE" type="xsd:string" minOccurs="0"/><xsd:element name="UNIDADE" type="xsd:string" minOccurs="0"/><xsd:element name="VALOR_PENDENTE" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema>