Yara.Servicos.LiberacaoAutomatica/SOAP/SoapCriaOrdemVenda_Retorno.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://creditocobranca/EnviaOrdemVendas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://creditocobranca/EnviaOrdemVendas"><xsd:complexType name="SoapCriaOrdemVenda_Retorno"><xsd:annotation><xsd:documentation xml:lang="EN">Data Type Atualiza Bloqueio Retorno</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="ORDEM_VENDA" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="NUM_ORDEM_VENDA" type="xsd:string" minOccurs="0"/><xsd:element name="STATUS" type="xsd:string" minOccurs="0"/><xsd:element name="MENSAGEM" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema>